[mysqld]
; # Group Replication 内部通讯端口 33061
binlog_checksum=none
expire_logs_days=30
gtid_mode=on
enforce-gtid-consistency=on
loose-group_replication_bootstrap_group=off
loose-group_replication_start_on_boot=on
group_replication_single_primary_mode=off

#以下的参数值,脚本会根据mgr_cnf文件自动生成
server-id=
loose-group_replication_group_name=
loose-group_replication_local_address=
loose-group_replication_group_seeds=





; # 任意主机启动引导集群，完成后关闭引导;其他机器加入集群
; set global group_replication_bootstrap_group=on;
; start group_replication;
; set global group_replication_bootstrap_group=off;
